root = true

# Global settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Shell scripts
[*.sh]
# shfmt configuration via EditorConfig
shell_variant = bash
indent_style = space
indent_size = 2
binary_next_line = true
switch_case_indent = true
space_redirects = true
keep_padding = true

# YAML files (Docker Compose, GitHub Actions, etc.)
[*.{yml,yaml}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# JSON files (configuration, package.json, etc.)
[*.json]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 88

# JavaScript/TypeScript files
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# CSS/SCSS files
[*.{css,scss,sass}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# HTML files
[*.{html,htm}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Markdown files
[*.md]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

# Configuration files
[*.{conf,cfg,ini}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Docker files
[{Dockerfile,Containerfile}*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Makefile
[Makefile]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# SQL files
[*.sql]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100
